    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RFC3_menu</title>
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
    </head>
    <body>

        <!-- Incluye el navbar -->
        <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <div class="d-flex justify-content-start">
            <h1 style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">RFC3</h1>
        </div>

        <!-- Formulario de creación -->
        <form th:action="@{/RFC3_menu}" method="get" style="margin-top: 35px;">
            <!-- Your form fields -->
            <label for="id">Id:</label>
            <input type="number" id="id" name="id" th:value="${id}" required />

            <label for="fecha inicio">Fecha Inicio:</label>
            <input type="date" id="fechaI" name="fechaI" th:value="${fechaI}" required />

            <label for="fecha fin">Fecha Fin:</label>
            <input type="date" id="fechaF" name="fechaF" th:value="${fechaF}" required />

            <button type="submit" class="btn btn-success">Consultar</button>
        </form>

        <div th:if="${RFC3_menu != null}">
            <h2>Result:</h2>
            <div th:each="item : ${RFC3_menu}">
                <p><strong>Nombre Cliente:</strong> <span th:text="${item.clienteNombre}"></span></p>
                <p><strong>Id Cliente:</strong> <span th:text="${item.clienteId}"></span></p>
                <p><strong>Costo Total de Consumos:</strong> <span th:text="${item.totalConsumos}"></span></p>
            </div>
        </div>

    </div>

    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    </body>
    </html>